<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Amplify app</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/blogs" aria-current="page">Blogs</a>
          <a class="nav-link" *ngIf="!user" routerLink="/auth">Log In/ Sign Up</a>
          <a class="nav-link" *ngIf="user" (click)="onLogOut()">Log Out</a>
          <a class="nav-link" (click)="onFetchData()">Fetch data</a>
          
        </div>
      </div>
    </div>
  </nav>