<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="comment" class="form-label">comment</label>
                    <input type="text" [(ngModel)]="comment" class="form-control" id="comment" name="comment">
                </div>
                <button class="btn btn-primary" type="submit">{{ isEditMode ? 'Edit' : 'Add'}} blog post</button>
            </form>
            </div>
          </div>
    </div>
</div>